@model IEnumerable<MVC.Models.SalaModel>

@{
    ViewBag.Title = "Lista";
}

<h2>Lista de Salas</h2>
<button class="btn btn-default" onclick="location.href='@Url.Action("Create", "Sala")';return false;">Novo</button>
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.qtdComputadores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qtdAlunos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projetor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Software1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Software2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Software3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SistemaOperacional)
        </th>
        <th>Ações:</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td width="15%">
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td width="5%" align="center">
            @Html.DisplayFor(modelItem => item.qtdComputadores)
        </td>
        <td width="5%" align="center">
            @Html.DisplayFor(modelItem => item.qtdAlunos)
        </td>
        <td width="5%" align="center">
            @Html.DisplayFor(modelItem => item.Projetor)
        </td>
        <td width="10%">
            @Html.DisplayFor(modelItem => item.Software1)
        </td>
        <td width="10%">
            @Html.DisplayFor(modelItem => item.Software2)
        </td>
        <td width="10%">
            @Html.DisplayFor(modelItem => item.Software3)
        </td>
        <td width="10%">
            @Html.DisplayFor(modelItem => item.SistemaOperacional)
        </td>
        <td>
            <a></a>
            <button type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Edit", "Sala",new { id=item.Id })';return false;">
                <span class="glyphicon glyphicon-pencil"  aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Details", "Sala",new { id=item.Id })';return false;">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align" onclick="location.href='@Url.Action("Delete", "Sala",new { id=item.Id })';return false;">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
            
          
        </td>
    </tr>
}


</table>
